.fs-icon-3 {
    font-size: 24px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #FE663D;
    border-radius: 8px;
}

.fs-icon-3:hover {
    scale: 1.04;
}

.fs-icon-2 {
    font-size: 24px;
}

footer {
    margin-top: auto;
}