.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
}
.navbar {
    background-color: none !important;
}
.navbar-bg {
    background-color: #FE663D;
}
.navbar-nav a {
    font-weight: 700;
}

.form-control {
    background-color: white;
}
